
.about{
    margin-left: 5rem;
    margin-top: 5rem;
    display: flex;
}

.introText{
    width: 50%;
    align-items: center;
    margin-top: 15%;
}

.introText h2{
    text-align: center;
    font-size: 3rem;
    font-family: Taviraj;
    font-weight: lighter;
}

.introText p{
    text-align: center;
    font-size: 1.5rem;
    font-family: Merriweather;
}

.introImageBox{
    padding-left: 3%;
}

@keyframes imgAnimate {
    0%  {border-radius: 70% 90% 50%;}
    100%  {border-radius: 100% 60% 70%;}
}

.introImageBox img{
    background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );
    animation: imgAnimate;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate-reverse;
    animation-delay: 0.5s;
}

@media only screen and (max-width:786px){
    .about{
        margin-left: 1rem;
        margin-top: 4rem;
    }

    .introImageBox {
        width: 60%;
        padding-left: 0;
        margin-left: 0%;
    }

    .introImageBox img{
        width: 200px;
        padding-left: 0%;
    }

    .introText h2{
        text-align: center;
        font-size: 2rem;
    }
    
    .introText p{
        text-align: center;
        font-size: 1rem;
    }

}