
.project{
    margin-left: 5rem;
    margin-top: 5rem;
}

.head{
    font-size: 2.5rem;
    font-family: Cormorant Garamond;
}

hr{
    width: 20%;
    margin-bottom: 6%;
}

.cards{
    display: flex;
    justify-content: center;
    
}

@media only screen and (max-width:786px){
    .project{
        margin-left: 1rem;
        margin-top: 4rem;
        
    }

    .cards{
        display: block;
        
    }
}

